/* grid.css */

/* 1. Solo la lógica elástica (Lo visual ya está en el Reset) */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 2. Contenedor principal */
.content-container {
    flex: 1 0 auto;
    margin: 30px 0; /* Factorizado: top y bottom 30px, lados 0 */
    padding: 0 4%;   /* Factorizado: top y bottom 0, lados 4% */
    width: 100%;    
}

/* 3. El footer se queda abajo */
.footer {
    flex-shrink: 0;
}