{% extends "base-admin.html" %}

{% block title %}Módulo Manager{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/components/tab.css') }}">
{% endblock %}

{% block content %}
<div class="tabs-wrapper">

    <div class="tabs-menu">
        <button class="tab-btn is-active" data-target="#tab-orders">Pedidos</button>
        <button class="tab-btn" data-target="#tab-reports">Reportes</button>
    </div>

    <div class="tabs-content">
        <div id="tab-orders" class="tab-panel">
            <h2>Órdenes de Pedidos</h2>
        </div>

        <div id="tab-reports" class="tab-panel is-active">
            <h2>Reportes Financieros</h2>
        </div>
    </div>

</div>

{% block extra_js %}
<!-- <script type="module" src="{{ url_for('static', path='js/components/TableRoomNotAvailable.js') }}"></script> -->
{% endblock %}