<footer class="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h3>Hotel Triple Frontera</h3>
            <p>El hotel número uno del Litoral</p>
        </div>

        <ul class="footer-links">
            <li><a href="{{ url_for('index') }}">Inicio</a></li>            
            <li><a href="#">Acerca de</a></li>            
        </ul>

        <ul class="footer-socials">
            <li><a href="#" aria-label="Facebook"><img src="{{ url_for('static', path='icons/facebook_32.png') }}"></a></li>            
            <li><a href="#" aria-label="Instagram"><img src="{{ url_for('static', path='icons/instagram_32.png') }}"></a></li>
            <li><a href="#" aria-label="Tiktok"><img src="{{ url_for('static', path='icons/tiktok_32.png') }}"></a></li>
            <li><a href="#" aria-label="Whatsapp"><img src="{{ url_for('static', path='icons/whatsapp_32.png') }}"></a></li>
        </ul>

        <div class="footer-info">
            <h3>Contacto</h3>            
            <p>info@hoteltf.com</p>
            <p>Av. Costanera 1205 - Corrientes, Corrientes Argentina</p>
            <p><span>2026</span>. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>