<header class="header">
    <a href="{{ url_for('index') }}" class="logo">
        <span>Logo Hotel</span> 
    </a>

    <button class="menu-toggle" id="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <ul class="nav" id="nav-list">
        <li><a href="#" id="openCart"><i class="fa-solid fa-bag-shopping"></i> Carrito</a></li>
        <li><a href="{{ url_for('account_user') }}"><i class="fa-solid fa-circle-user"></i> Crear cuenta</a></li>
        <li><a href="{{ url_for('login_user') }}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresar</a></li>                   
    </ul>
</header>