* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Reset de links */
a {
  color: inherit;
  text-decoration: none;
}

/* Listas */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%; /* Evita que las fotos se salgan de su contenedor */
  display: block;  /* Quita un pequeño espacio blanco que dejan las imágenes abajo */
}