<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Hotel Triple Frontera</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/hotel.ico') }}">    
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    
    <!-- HEADER MODULAR -->
    {% include 'includes/_header.html' %}

    <div class="content-container">
        {% block content %}{% endblock %}            
    </div>

    <!-- FOOTER MODULAR -->
    {% include 'includes/_footer.html' %}

    <!-- JS -->    
    <script src="{{ url_for('static', path='js/header.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>