<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Admin{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', path='css/admin.css') }}">    
    {% block css %}{% endblock %}
</head>
<body>

    <main class="container"> 
        <h1>Hotel Management Rooms</h1>
        {% block content %}{% endblock %}       
    </main>    
    
    {% block extra_js %}{% endblock %}
    <script type="module" src="{{ url_for('static', path='js/events/tabEvent.js') }}"></script>
</body>
</html>