<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Hotel Triple Frontera</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/hotel.ico') }}">    
    <link rel="stylesheet" href="{{ url_for('static', path='fonts/fontawesome-free-6.1.2-web/css/all.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    
    <!-- HEADER MODULAR -->
    {% include 'includes/_header.html' %}

    <div class="content-container">
        {% block content %}{% endblock %}            
    </div>

    <!-- Modal Carrito -->
    <div id="modalRooms" class="modal">
        <div class="modal-container">
            <span class="close">&times;</span>
            <h2>Habitaciones</h2>

            <!-- Aquí se agregan los items -->
            <div id="cartItems"></div>

            <div class="cart-total">
                <strong id="itemsTotal">Total: $0</strong>
            </div>
            <button id="btn-cart-payment" class="cart-btn">Efectuar Pago</button>
        </div>
    </div>

    <!-- FOOTER MODULAR -->
    {% include 'includes/_footer.html' %}

    <!-- JS -->    
    <script type="module" src="{{ url_for('static', path='js/main.js') }}"></script>    
    {% block script %}{% endblock %}
</body>
</html>