{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/pages/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/ui/cards.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/components/sidebar.css') }}">
{% endblock %}

{% block content %}
<div class="index-layout"> 

    <section class="container">
        <div class="welcome-view">
            <h1>Nuestras Habitaciones</h1>
            <p>Explora nuestra selección exclusiva de habitaciones diseñadas para brindarte la mejor experiencia de descanso.</p>
        </div>

        <div class="rooms-list"></div>
    </section>

    <aside id="sidebar-container" class="sidebar"></aside>

</div>
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', path='js/pages/index.js') }}"></script>
{% endblock %}