{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/pages/auth.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/pages/payment.css') }}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">

    <div id="payment-container"></div>

</div>
{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>

<script type="module" src="{{ url_for('static', path='js/pages/payment.js') }}"></script>
{% endblock %}